+vSpacer(17)
tr
	td
		table(class="mobile-hide" width="100%")&attributes(tableAtt)
			tr
				td(style= "width:248px; border-top-left-radius:5px; border-bottom-left-radius:5px;" class="brownBackground")
					table(width=248)
						+vSpacer(85)
						tr
							td
								table
									tr
										+hSpacer(20)
										td
											table
												tr
													td(class="f_banner").
														Tempo Takes you 
												tr
													td(class="f_banner").
														to your 
												tr
													td(class="f_banner").
														Destination
												+vSpacer(40)
						tr
							td(style="text-align: center;")
								a(href="#")
									img(src=img_path+"buyNowBtn.png")
						+vSpacer(33)
				td(style="padding-left: 0; max-height: 300px; overflow: hidden; max-width: 351px;")
					img(src=img_path+"banner.png")
tr
	td(class="brownBackground")
		table(align="center" class="mobile-show brownBackground")&attributes(tableAtt)
			+vSpacer(30)
			tr
				td(class="f_banner center-text").
					Tempo Takes you
			tr
				td(class="f_banner center-text").
					to your  
			tr
				td(class="f_banner center-text").
					Destination 
			+vSpacer(30)
			tr
				td(style="text-align: center;")
					a(href="#")
						img(src=img_path+"buyNowBtn.png")
			+vSpacer(30)
