+vSpacer(33)
tr
	td(style="width:100%;" class="yellowBackground")
		table(align="center")
			+vSpacer(8)
			tr
				td
					table
						tr
							td
								a(href="#")
									img(src=img_path+"face.png")
							+hSpacer(10)
							td
								a(href="#")
									img(src=img_path+"tweet.png")
							+hSpacer(10)
							td
								a(href="#")
									img(src=img_path+"linkedIn.png")
			+vSpacer(8)
+vSpacer(20)
tr
	td(class="center-text" style="font-size:13px;").
		Don't want to receive email Updates? #[a(href="#" style="text-decoration:none;" class="yellow") Unsubscribe here]
+vSpacer(40)
