+vSpacer(40)
tr
	td
		table
			tr
				td(class="title center-text").
					Full width text block Content
			+vSpacer(30)
			tr(class="mobile-hide")
				td(class="text").
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			tr(class="mobile-show")
				td(class="text center-text").
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
+vSpacer(50)