+vSpacer(24)
tr
	td
		table&attributes(tableAtt)
			tr
				+hSpacer(20)
				td(style="font-size:13px;").
					Can't see this Email? View it in your  #[a(href="#" style="text-decoration:none;" class="yellow") Browser]
+vSpacer(17)
tr
	td
		table&attributes(tableAtt)
			tr
				td
					img(src=img_path+"logo.png")
				td(width="100%" class="yellowBackground" style="text-align: right")
					table(align="right")&attributes(tableAtt)
						tr
							td
								a(href="#" style="text-decoration:none; color:black;").
									Home
							+hSpacer(15)
							td
								a(href="#" style="text-decoration:none; color:black;").
									Shop
							+hSpacer(15)
							td
								a(href="#" style="text-decoration:none; color:black;").
									Contact
							+hSpacer(50)

